.login_All {
    .van-field__error-message {
        position: absolute !important;
        left: 80px !important;
        top: 0px !important;
    }

    .van-field__control::placeholder {
        color: rgb(156, 154, 154) !important;
    }
}

.sort_all {
    .van-tabs__wrap {
        height: 16vw !important;
    }
    .van-tabs__content{
        margin-bottom: 50px;
    }
    .van-tab{
        flex-basis: 30% !important;
    }
   
    .van-tabs__wrap{
        position: fixed !important;
        z-index: 1 !important;
        width: 73% !important;
        top: 50px !important;
    }
    .van-sidebar{
        position: fixed;
    }
    .van-tabs--line{
        margin-top: -62px !important;
    }
    .van-pull-refresh__track{
        margin-top: 60px;
    }
}

.city_check{
    .van-index-anchor{
        background:rgb(242,242,242) !important;
  }
  .van-index-bar__index{
    font-size: 3.7vw;
  line-height: 6vw;
}
}
.detail_all{
    .van-tabs__line{
        z-index: 0 !important;
      }
      .van-divider{
        margin: 3.8vw 0 !important;
      }
}
.order_all{
    .van-tab--active{
        flex-basis: 15% !important;
    }
    .van-nav-bar{
        border-color: white !important;
    }
}
.ping_jia{
    .van-hairline--top-bottom{
        z-index: 2 !important;
        margin-top: -26px !important;
        margin-left: 10% !important;
        width: 80% !important;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 1px 5px 1px rgba(156, 154, 154,0.5);
    }
    .van-tab__pane{
        margin-top: 20px;
    }
}
.home_all{
   .van-search--show-action{
       height: 50px !important;
   }
}